#install tools
conf_dot() {
    # Make directories
    mkdir ~/.config
    mkdir ~/.config/Code\ -\ Insiders
    mkdir ~/.config/Code\ -\ Insiders/User
    mkdir ~/.config/mpv
    sudo mkdir /etc/pacman.d/hooks

    # Set permissions
    ln -rsv ~/.dotfiles/docker ~/docker
    sudo setfacl -Rdm G:docker:rwx ~/docker
    sudo chmod -R 755 ~/docker

    # Create Symlinks
    symlinkDots()
    sudo pacman -Syyuu
  }

function symlinkDots () {
    ln -sv ~/.dotfiles/.zshrc ~
    ln -sv ~/.dotfiles/.zshrc.zni ~
    ln -sv ~/.dotfiles/.gitignore ~
    ln -sv ~/.dotfiles/gitconfig ~
    ln -sv ~/.dotfiles/vscode-insiders/settings.json ~/.config/Code\ -\
  Insiders/User/settings.json
    ln -rsv ~/.dotfiles/mpv ~/.config/mpv
    ln -rsv /mnt/Television/Wallpapers ~/Pictures/
    sudo ln -sv ~/.dotfiles/pacman.d/mirrorupgrade.hook /etc/pacman.d/hooks/
}


function mpvm() {
	currentdir=$(pwd)
	movieDir=$(find /mnt/Movies/Movies/ -type d -name '*'$1'*')
	cd $movieDir
	file=$(find . -iname '*.mkv' -o -iname '*.mp4')
	mpv $file &
	cd $currentDir
}

function mpvt() {
	currentdir=$(pwd)
	movieDir=$(find /mnt/Television/Television/ -type d -name '*'$1'*')
	cd $movieDir
	cd "Season $2"
	# mpv $file &
	# cd $currentDir
}

getnews () {
  curl https://newsapi.org/v2/everything -s -G \
    -d q=$1 \
    -d sortBy=popularity \
    -d apiKey=ea63aa78ccb4416c8e43d8d63d467ba4 \
    | jq '.articles[] | .title'
}

note () {
	cd ~/.notable
	git checkout master && git up
	sleep 10
	notable
	echo "done"

	# cd ~/.dotfiles
}


#fzf
# Use fd (https://github.com/sharkdp/fd) instead of the default find
# command for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --follow --exclude ".git" . "$1"
}

# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type d --hidden --follow --exclude ".git" . "$1"
}
