function mpvm() {
	currentdir=$(pwd)
	movieDir=$(find /mnt/Movies/Movies/ -type d -name '*'$1'*')
	cd $movieDir
	file=$(find . -iname '*.mkv' -o -iname '*.mp4')
	mpv $file &
	cd $currentDir
}

function mpvt() {
	currentdir=$(pwd)
	movieDir=$(find /mnt/Television/Television/ -type d -name '*'$1'*')
	cd $movieDir
	cd "Season $2"
	# mpv $file &
	# cd $currentDir
}

getnews () {
  curl https://newsapi.org/v2/everything -s -G \
    -d q=$1 \
    -d sortBy=popularity \
    -d apiKey=ea63aa78ccb4416c8e43d8d63d467ba4 \
    | jq '.articles[] | .title'
}

note () {
	cd ~/.notable
	git checkout master && git up
	sleep 10
	notable
	echo "done"

	# cd ~/.dotfiles
}
