#docker

docker/bazaar/**/*
docker/heimdall/**/*
docker/jackett/**/*
docker/portainer/**/*
docker/radarr/**/*
docker/sonarr/**/*
docker/transmission/resume/*
docker/transmission/torrents/*
docker/transmission/stats.json
docker/shared/**/*

#system
.DS_Store
.tool-versions
*.orig*
