docker/bazarr/
docker/heimdall/
docker/jackett/Jackett/DataProtection/
docker/jackett/Jackett/ServerConfig.json
docker/jackett/Jackett/log.txt
docker/portainer/
docker/radarr/config.xml
docker/radarr/logs.db
docker/radarr/logs/
docker/radarr/nzbdrone.pid
docker/sonarr/Backups/
docker/sonarr/MediaCover/
docker/sonarr/UpdateLogs/
docker/sonarr/config.xml
docker/sonarr/logs.db
docker/sonarr/logs.db-shm
docker/sonarr/logs.db-wal
docker/sonarr/logs/
docker/sonarr/nzbdrone.pid
docker/transmission/blocklist-update.sh

